.container {
  background-color: rgb(249, 249, 249);
  width: 100vw;
  padding: 30px 20px;
  margin-top: auto;
  z-index: 2;
}
.wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: var(--font-main);
}
.wrap p {
  margin-right: 30px;
  font-size: 0.9rem;
}

.wrap p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.coop {
  color: var(--font-light);
  text-align: center;
}

/*  モバイル */
@media screen and (max-width: 450px) {
  .wrap {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .wrap p {
    margin-right: 0;
    font-size: 0.9rem;
  }
}
