.searchResultContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 500px;
}

.resultText {
  font-size: 1.2rem;
  font-weight: bold;
}

/*  レスポンシブ */
@media screen and (max-width: 650px) {
  .searchResultContainer {
    width: 400px;
  }
}

/* モバイル */
@media screen and (max-width: 450px) {
  .searchResultContainer {
    flex-direction: column;
    width: 300px;
  }
}
